@import 'variables.scss';

#hero {
  margin: $default-margin-mobile;

  .container-fluid {
    div {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        text-align: center;
        font-size: $title-mobile;
      }

      p { text-align: center; }
  
      button {
        border: none;
        outline: 0;
        background-color: $secondary-color;
        color: $default-color;
        margin-bottom: 20px;
        padding: 5.5px 10px;
        border-radius: 5px;
      }
    }
    
    img {
      width: 100%;
      border-radius: $border-radius-mobile;
    }
  }

  @include desktop {
    margin: $default-margin-desktop;
    
    .container-fluid {
      display: flex;
      padding: 0;

      div {
        justify-content: space-around;
        align-items: unset;

        h1 {
          text-align: start;
          font-size: $title-desktop;
        }

        p { text-align: start; }
  
        button { align-self: flex-start; }
      }

      img { width: 50%; }
    }
  }
}