#header {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: #228B22; }
  #header .container-fluid {
    justify-content: space-around;
    padding-top: 8px;
    padding-bottom: 8px; }
  #header #menu-toggle {
    border: none;
    outline: 0;
    box-shadow: none; }
    #header #menu-toggle i {
      width: 28px;
      height: 32px;
      color: #FFF; }
  #header .navbar-brand h1 {
    margin: 0;
    padding: 5px 0;
    color: #FFF; }
  #header .navbar-collapse {
    padding: 0 1.5rem;
    background-color: #FFF;
    border-bottom: 1px solid #228B22; }
  #header i {
    font-size: 2rem; }
  @media only screen and (min-width: 768px) {
    #header {
      padding: 0 15px; }
      #header .container-fluid {
        justify-content: unset; }
      #header .navbar-collapse {
        justify-content: flex-end;
        gap: 25px;
        padding: 0;
        background-color: transparent; }
        #header .navbar-collapse .navbar-nav {
          gap: 25px;
          margin: 0 !important; }
          #header .navbar-collapse .navbar-nav .nav-link {
            color: #FFF; }
        #header .navbar-collapse .btn-outline-success {
          border: 1.5px solid #FFF;
          color: #FFF; } }

#hero {
  margin: 45px 0; }
  #hero .container-fluid div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #hero .container-fluid div h1 {
      text-align: center;
      font-size: 2.5rem; }
    #hero .container-fluid div p {
      text-align: center; }
    #hero .container-fluid div button {
      border: none;
      outline: 0;
      background-color: #32CD32;
      color: #FFF;
      margin-bottom: 20px;
      padding: 5.5px 10px;
      border-radius: 5px; }
  #hero .container-fluid img {
    width: 100%;
    border-radius: 10px; }
  @media only screen and (min-width: 768px) {
    #hero {
      margin: 90px 0; }
      #hero .container-fluid {
        display: flex;
        padding: 0; }
        #hero .container-fluid div {
          justify-content: space-around;
          align-items: unset; }
          #hero .container-fluid div h1 {
            text-align: start;
            font-size: 3.5rem; }
          #hero .container-fluid div p {
            text-align: start; }
          #hero .container-fluid div button {
            align-self: flex-start; }
        #hero .container-fluid img {
          width: 50%; } }

#section1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #F5F5F5;
  margin: 45px 0;
  padding: 10px;
  border-radius: 10px; }
  #section1 h2 {
    font-size: 2rem;
    text-align: center; }
  #section1 > p {
    font-size: 0.825rem;
    text-align: center; }
  #section1 div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px; }
    #section1 div article {
      padding: 10px;
      background-color: #CEC9C9;
      border-radius: 10px; }
      #section1 div article:first-child {
        background-color: #32CD32; }
        #section1 div article:first-child p {
          color: #000; }
      #section1 div article p {
        font-size: 0.625rem;
        margin: 0; }
  @media only screen and (min-width: 768px) {
    #section1 {
      gap: 25px;
      margin: 90px 0;
      padding: 50px; }
      #section1 h2 {
        font-size: 2.5rem; }
      #section1 > p {
        max-width: 50%;
        align-self: center;
        font-size: 1.025rem; }
      #section1 div {
        grid-template-columns: repeat(4, 1fr); }
        #section1 div article {
          padding: 15px; }
          #section1 div article p {
            font-size: 1.025rem; } }

#section2 {
  margin: 45px 0; }
  #section2 .text {
    display: flex;
    flex-direction: column; }
    #section2 .text h2 {
      font-size: 2rem;
      text-align: center; }
    #section2 .text p {
      font-size: 0.825rem;
      text-align: center; }
  #section2 #section2-carousel .carousel-indicators {
    bottom: -45px; }
    #section2 #section2-carousel .carousel-indicators button {
      background-color: #CEC9C9; }
    #section2 #section2-carousel .carousel-indicators .active {
      background-color: #333333; }
  #section2 #section2-carousel .carousel-inner .carousel-item {
    padding: 0 5px; }
    #section2 #section2-carousel .carousel-inner .carousel-item div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px; }
      #section2 #section2-carousel .carousel-inner .carousel-item div img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 10px; }
      #section2 #section2-carousel .carousel-inner .carousel-item div p {
        text-align: center; }
  #section2 .desktop-info {
    display: none; }
  @media only screen and (min-width: 768px) {
    #section2 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin: 90px 0; }
      #section2 #section2-carousel {
        display: none; }
      #section2 .text {
        gap: 10px; }
        #section2 .text h2 {
          font-size: 2.5rem; }
        #section2 .text p {
          max-width: 50%;
          align-self: center;
          font-size: 1.025rem; }
      #section2 .desktop-info {
        display: flex;
        gap: 20px; }
        #section2 .desktop-info article {
          width: 25%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px; }
          #section2 .desktop-info article img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px; }
          #section2 .desktop-info article p {
            margin: 0; } }

#section3 {
  display: flex;
  flex-direction: column;
  margin: 45px 0; }
  #section3 .text {
    text-align: center; }
    #section3 .text h2 {
      font-size: 2rem; }
    #section3 .text p {
      font-size: 0.825rem; }
  #section3 .infos {
    display: flex;
    flex-direction: column;
    gap: 15px; }
    #section3 .infos > div {
      display: flex;
      align-items: center;
      gap: 25px;
      padding: 15px 20px;
      background-color: #CEC9C9;
      border-radius: 10px; }
      #section3 .infos > div:nth-child(2) {
        background-color: #228B22;
        color: #FFF; }
        #section3 .infos > div:nth-child(2) i {
          color: #333333; }
      #section3 .infos > div i {
        zoom: 3;
        color: #333333; }
      #section3 .infos > div p {
        font-size: 0.825rem;
        margin: 0; }
  @media only screen and (min-width: 768px) {
    #section3 {
      flex-direction: row;
      align-items: center;
      gap: 75px;
      margin: 90px 0; }
      #section3 .text {
        width: fit-content;
        text-align: start; }
        #section3 .text h2 {
          font-size: 2.5rem;
          margin-bottom: 1.5rem; }
        #section3 .text p {
          font-size: 1.025rem; }
      #section3 .infos > div:nth-child(2) {
        margin-left: -50px; } }

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 25px 15px;
  background-color: #006400;
  color: #FFF; }
  #footer .newsletter {
    display: flex;
    flex-direction: column;
    gap: 5px; }
    #footer .newsletter label {
      font-size: 1.025rem; }
    #footer .newsletter div {
      padding: 5px;
      background-color: #FFF;
      border-radius: 5px; }
      #footer .newsletter div input, #footer .newsletter div button {
        border: none;
        outline: 0; }
      #footer .newsletter div button {
        background-color: #228B22;
        color: #FFF;
        padding: 5px;
        border-radius: 2.5px; }
  #footer .pages ul, #footer .media ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #footer .pages ul a, #footer .media ul a {
      text-decoration: none;
      font-size: 1.125rem;
      color: #FFF; }
  #footer .pages ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 45px;
    row-gap: 5px; }
  #footer .media ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px; }
  #footer .info {
    display: flex;
    gap: 20px; }
    #footer .info div {
      display: flex;
      align-items: center;
      gap: 5px; }
      #footer .info div span {
        font-size: 0.5rem; }
  #footer > span {
    font-size: 1.5rem;
    font-weight: 500; }

html {
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

main {
  padding: 0 15px; }
  @media only screen and (min-width: 768px) {
    main {
      padding: 0 150px; } }
